{% load static %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">{{ question.question_text }}</a>
        </div>
        <form class="d-flex">
            <a class="btn btn-outline-success" href="{% url 'polls:detail' question.id %}" type="submit">Link</a>
            <a class="btn btn-outline-success" href="{% url 'polls:results' question.id%}" type="submit">Result</a>
          </form>
      </nav>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
